* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
}
.Diary-Editor {
  border: 1px solid lightgray;
  text-align: center;
  padding: 20px;
}

.Diary-Editor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}
.Diary-Editor textarea {
  height: 160px;
}
.Diary-Editor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}
.Diary-Editor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
/* DiaryList */
.Diary-list {
  border: 1px solid lightgray;
  padding: 20px;
  margin-top: 20px;
}
.Diary-list h2 {
  text-align: center;
}
/* item */
.Diary-item {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}
.Diary-item .info {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.Diary-item .date {
  color: gray;
}
.Diary-item .content {
  font-weight: 700;
  margin: 30px 0px 30px 0px;
}
